@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(../fonts/PTSans-Narrow.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'), url(../fonts/PTSans-NarrowBold.woff) format('woff');
}

html, body {
    /*overflow-x: hidden;*/
}

/*#highcharts-2 { max-width: 540px;}
#highcharts-0 { max-width: 540px;}*/

* {
	outline:none !important;
	-moz-outline: none !important;
}

@media (max-width: 480px) { 
    .top-nav {float: right;}
}

@media (min-width: 992px) and (max-width: 1440px) { 
    h1.h1resp {margin-top: 10px;}
}

@media (min-width: 1441px) {
h1.h1resp {margin-top: 20px;}    
}

@media (min-width: 992px) and (max-width: 1200px){
/*.engfix {height: 150px;}*/
}

@media (min-width: 992px) and (max-width: 1135px){
.razfix {padding-top: 10px;
        }
}

@media (min-width: 1136px) {
.razfix {padding-top: 10px;
         padding-bottom: 10px;
        }    
}

@media (min-width: 480px) and (max-width: 992px){
h1.h1resp {margin-top: 30px;}
}


/* 8-column grid */
.col-8{
width: 12.5%;
}

/* 5-column layout css */
div.col-sm-7.five-three {
    width: 60% !important;
}

div.col-sm-5.five-two {
    width: 40% !important;
}

/* end 5-column layout */


.right-side-accordion 
.terques-bg,
.slimScrollBar,
.brand,
.sidebar-toggle-box,
ul.top-menu>li>a:hover,
ul.top-menu>li>a:focus,
.toggle-right-box:hover  {
    background:#343852 !important;
}


ul.sidebar-menu li ul.sub li a:hover,
ul.sidebar-menu li ul.sub li.active a,
ul.sidebar-menu li a.active,
ul.sidebar-menu li a:hover,
ul.sidebar-menu li a:focus,
ul.sidebar-menu li a.active i,
ul.sidebar-menu li a:hover i,
ul.sidebar-menu li a:focus i {
    color: #34abd7;
    font-weight: bold;
}


ul.sidebar-menu li a.active span.fa {color: #34abd7;}
ul.sidebar-menu li a.active span.glyphicon {color: #34abd7;}
ul.sidebar-menu li a span.fa {color: #FFFFFF;}
ul.sidebar-menu li a span.glyphicon {color: #FFFFFF;}
ul.sidebar-menu li a:hover span {color: #34abd7;}

.sidebar-toggle-box {
    background:#4c5277 !important;
}
.sidebar-toggle-box:hover {
    background:#eee !important;
}
.sidebar-toggle-box .fa-bars {
    color:#fff;
}
.sidebar-toggle-box:hover .fa-bars {
    color:rgba(0,0,0,.3);
}
.brand a.logo {
    color:#fff;
    font-weight:400;
    font-size:1.8em;
    line-height:38px;
}
a.logo span {
    color: #fff;
}
ul.sidebar-menu li a span.ico {
    font-size:20px;
    padding-right:1px;
    color:#fff;
}
ul.sidebar-menu li a:hover span.ico, 
ul.sidebar-menu li a:active span.ico, 
ul.sidebar-menu li a.active span.ico {
    color:#34abd7;
}

ul.sidebar-menu li.home a span.ico {
    
}
ul.sidebar-menu li.adoption a span.ico {
    
}
ul.sidebar-menu li.influencers a span.ico {
    
}
ul.sidebar-menu li.groups a span.ico {
    
}
ul.sidebar-menu li.discussions a span.ico {
    
}
ul.sidebar-menu li.help a span.ico {
    
}


.hl {
	text-transform:none;
	font-family:'Open Sans',sans-serif;
	font-weight:200;
	letter-spacing:-1px;
}

.btn-white {
	cursor:text;
	color:#333;
	border-color:#fff;
}

.table-groups span.label {
	font-weight:400;
}
.label-blue {
	background:#26CFFF;
}
.label-red {
	background:#FF4E2D;
}
.label-yellow {
	background:#FFB43A;
}
.label-green {
	background:#54D142;
}


/* Space */
.space5 {
	display: block;
	height: 5px !important;
	clear: both;
}
.space10 {
	height: 10px !important;
	clear: both;
}
.space15 {
	height: 15px !important;
	clear: both;
}
.space20 {
	height: 20px !important;
	clear: both;
}
.space30 {
	height: 30px !important;
	clear: both;
}
.space40 {
	height: 40px !important;
	clear: both;
}
.space47 {
	height: 47px !important;
	clear: both;
}
.no-space {
	margin: 0px !important;
	padding: 0px !important;
}

/* Ribbon */
.ribbon {
    position: relative;
}
.ribbon > div {
    position: absolute;
    top: 0px;
    right: 0px;
    background:#DDDDDD;
    padding:4px 10px;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', sans-serif;
	-webkit-box-shadow: -3px 3px 0px rgba(50, 50, 50, 0.45);
	-moz-box-shadow:    -3px 3px 0px rgba(50, 50, 50, 0.45);
	box-shadow:         -3px 3px 0px rgba(50, 50, 50, 0.45);
}
.ribbon > div > span {
	display:block;
	color:#555;
	font-size:12px;
}
.ribbon.ribbon-red > div {
    background: #FF4E2D;
}
.ribbon.ribbon-red > div > span {
	color:#fff;
}
.ribbon.ribbon-green > div {
    background: #54D142;
}
.ribbon.ribbon-green > div > span {
	color:#fff;
}
.ribbon.ribbon-blue > div {
    background: #26CFFF;
}
.ribbon.ribbon-blue > div > span {
	color:#fff;
}
.ribbon.ribbon-yellow > div {
    background: #FFB43A;
}
.ribbon.ribbon-yellow > div > span {
	color:#fff;
}
.ribbon.ribbon-purple > div {
    background: #7370D0;
}
.ribbon.ribbon-purple > div > span {
	color:#fff;
}


/* Product Slider */

.col-item {
    background: #FFF;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;   
}
.col-item .photo .img-responsive {
    margin: 0 auto;
}

.col-item .photo img {
    padding:10px 10px 0px 10px;
}
.col-item .info {
    padding: 10px;
    margin-top: 1px;
}
.col-item .info h3 {
 	font-size:2em;
 	margin-bottom:12px;
}
.price-text-color {
    color: #E6400C;
}
.col-item .separator {
    border-top: 1px solid #E1E1E1;
}
.clear-left {
    clear: left;
}
.col-item .separator p {
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}
.col-item .separator p i {
    margin-right: 5px;
}
.col-item .btn-msg {
    width: 50%;
    float: left;
}
.col-item .btn-msg {
    border-right: 1px solid #E1E1E1;
}
.col-item .btn-details {
    width: 50%;
    float: left;
    padding-left: 10px;
}
/*
.col-item  {
	font-family: 'PT Sans Narrow';
  	font-weight: 400;
}
*/